<div class="contResume">
    <h3>Detalles del prestamo</h3>
    <hr>
    <div class="resume">
        <div class="values">
                <p>TAE representativo</p>
                <p>Mensualidad</p>
                <p>Número de meses</p>
                <p>Importe total a pagar</p>
        </div>
        <div class="results">
                <p>TAE representativo</p>
                <p>Mensualidad</p>
                <p>Número de meses</p>
                <p>Importe total a pagar</p>
        </div>
    </div>
    <hr>
    <div class="showMas">
        <div class="cntMas">
        <p>MOSTRAR MÁS</p>
        </div>
        <div class="cntIcon">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
    </div>
</div>