<div class="contRadioGroup">

    <span class="radio" *ngFor="let radio of radios; let i = index" (click)="setCuota(data[i])">
        <!-- <div class="disableOption"></div> -->
        <div class="cntPago">
            <input [id]="radio.id" name="cuota" type="radio" [value]="radio.id">
            <div class="pago">
                <div>{{radio.idCuota}} pagos</div>
                <div class="cuota">$ {{data[i] == undefined ? 0 : (data[i].valorCuotaConSeguro | number:'1.0-0':'es')}} / mes</div>
            </div>            
        </div>
    </span>

    

</div>