@import "../../../scss/variables.scss";
@import "../../../scss/mixins";

/* Formas Fuentes */
.pLight{
    font-weight: 300;
    letter-spacing: 0.03px;
    font-size: 16px;
    color: $opaco;
    @include Asmall() {
      font-size: 13px;
      text-align: center;
    }
  }

  app-print {
    display: none;
}

.superHeader{
  background-color: $negro;
  margin-bottom: 8px;  
  .contSuperHeader{
    padding: 10px 0px;
  }
}

@media print {
    .superContenedor, app-footer{
        display: none;
    }
    app-print {
        display: block;
    }
}

button:disabled{
  opacity: 0.5;
}
  