<section class="seccionFluida">
    <div class="contenedor">
        <div class="contenido">

            <h1>Titulo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quibusdam! Voluptas vitae magnam
                eligendi cum sequi fuga dicta assumenda explicabo amet, eveniet, inventore quasi voluptates
                quae. Possimus, corporis? Aliquam, rem!</p>
        </div>
    </div>
</section>

<div class="superContenedor">
    <!-- Contenedor -->


    <section class="contenedor">
        <div class="contenido">
            <h1>Titulo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quibusdam! Voluptas vitae magnam
                eligendi cum sequi fuga dicta assumenda explicabo amet, eveniet, inventore quasi voluptates quae.
                Possimus, corporis? Aliquam, rem!</p>
        </div>
    </section>

    <section class="contenedor">
        <div class="contenido dosColumnas">

            <div class="columnaUno">
                <h1>Titulo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quibusdam! Voluptas vitae magnam
                    eligendi cum sequi fuga dicta assumenda explicabo amet, eveniet, inventore quasi voluptates
                    quae.
                    Possimus, corporis? Aliquam, rem!</p>
            </div>

            <div class="columnaDos">
                <h1>Titulo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quibusdam! Voluptas vitae magnam
                    eligendi cum sequi fuga dicta assumenda explicabo amet, eveniet, inventore quasi voluptates
                    quae.
                    Possimus, corporis? Aliquam, rem!</p>
            </div>
        </div>
    </section>

    <section class="contenedor">
        <div class="contenido tresColumnas">

            <div class="columnaUno">
                <h1>Titulo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quibusdam! Voluptas vitae magnam
                    eligendi cum sequi fuga dicta assumenda explicabo amet, eveniet, inventore quasi voluptates
                    quae.
                    Possimus, corporis? Aliquam, rem!</p>
            </div>

            <div class="columnaDos">
                <h1>Titulo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quibusdam! Voluptas vitae magnam
                    eligendi cum sequi fuga dicta assumenda explicabo amet, eveniet, inventore quasi voluptates
                    quae.
                    Possimus, corporis? Aliquam, rem!</p>
            </div>

            <div class="columnaTres">
                <h1>Titulo</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quibusdam! Voluptas vitae magnam
                    eligendi cum sequi fuga dicta assumenda explicabo amet, eveniet, inventore quasi voluptates
                    quae.
                    Possimus, corporis? Aliquam, rem!</p>
            </div>
        </div>
    </section>

</div>

<footer class="seccionFluida">
    <div class="contenedor">
        <div class="contenido">
            copyright 2020
        </div>
    </div>
</footer>