<app-print></app-print>

<div class="superContenedor fondo fndHeader">
    <!-- Contenedor -->

    <section class="seccionFluida superHeader">
        <div class="contenedor">
            <div class="contenido contSuperHeader">
                <p class="pLight">Financia el tratamiento de tu paciente con Santander Consumer</p>
            </div>
        </div>
    </section>

    <app-navbar></app-navbar>

    <section class="seccionFluida">
        <div class="contenedor marginGridMobile">
            <div class="contenido">

                <app-inputheader></app-inputheader>

            </div>
        </div>
    </section>

</div>


<div class="superContenedor">
    <section class="contenedor marginGridMobile">
        <div class="contenido">

            <mat-checkbox
            [formControl]="convenio"
            [checked]="convenioSet()"
            >Paciente con convenio
            </mat-checkbox> 

            <app-calculadora></app-calculadora>
            <div class="botones">
                <button class="primario" (click)="onPrint()">Imprimir</button>
                <button class="secundario" (click)="goSolicitud()">Iniciar Solicitud</button>
                <a class="viewMobile" [routerLink]="['/ayuda']"><button class="secundario">Ayuda Comercial</button></a>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
