<div class="contMatInput">
        <h1>Descuento</h1>
        <hr>
        <mat-form-field appearance="outline">
            <mat-label>Porcentaje de descuento</mat-label>
            <input 
            matInput
            type="tel"
            currencyMask
            placeholder="Porcentaje de descuento"
            [formControl]="descuento"
            [options]="{ align: 'left', prefix: '% ', thousands: '.', decimal: ',', precision: 0 }"
            name="descuento"
            [min]="env.minMax.min"                                    
            [max]="env.minMax.max"                                    
            required>                               
            <mat-error *ngIf="descuento.errors?.min">El valor mínimo a financiar es de $ {{env.minMax.min | number:'1.0':'es'}}</mat-error>       
            <mat-error *ngIf="descuento.errors?.max">El valor máximo a financiar es de $ {{env.minMax.max | number:'1.0':'es'}}</mat-error>       
        </mat-form-field>
    </div>