<h1 class="noViewMobile">¡Los 3 primeros meses no pagas nada!</h1>
<div class="contInputHeader marginGridMobile">

    
    <div class="contMatInput">
        <mat-form-field appearance="outline">
            <mat-label>¿Cuanto cuesta el mueble a financiar?</mat-label>
            <input 
            matInput 
            currencyMask
            placeholder="¿Cuanto cuesta el mueble a financiar?"
            [formControl]="monto"
            [options]="{ align: 'left', prefix: '$ ', thousands: '.', decimal: ',', precision: 0 }"
            name="monto"
            >
        </mat-form-field>
    </div>

</div>