<h1 class="noViewMobile">¡Los 3 primeros meses no pagas nada!</h1>
<div class="contInputHeader marginGridMobile">

    
    <div class="contMatInput">
        <mat-form-field appearance="outline">
            <mat-label>¿Cuanto cuesta el mueble a financiar?</mat-label>
            <input 
            matInput 
            currencyMask
            placeholder="¿Cuanto cuesta el mueble a financiar?"
            [formControl]="monto"
            [options]="{ align: 'left', prefix: '$ ', thousands: '.', decimal: ',', precision: 0 }"
            name="monto"
            [min]="env.minMax.min"                                    
            [max]="env.minMax.max"                                    
            required>                               
            <mat-error *ngIf="monto.errors?.min">El valor mínimo a financiar es de $ {{env.minMax.min | number:'1.0':'es'}}</mat-error>       
            <mat-error *ngIf="monto.errors?.max">El valor máximo a financiar es de $ {{env.minMax.max | number:'1.0':'es'}}</mat-error>       
        </mat-form-field>
    </div>

</div>