<div class="superContenedor fondo fndHeader">
    <!-- Contenedor -->

    <section class="seccionFluida superHeader">
        <div class="contenedor">
            <div class="contenido contSuperHeader">
                <p class="pLight">Financia el tratamiento de tu paciente con Santander Consumer</p>
            </div>
        </div>
    </section>

    <app-navbar></app-navbar>

    <section class="seccionFluida">
        <div class="contenedor marginGridMobile">
            <div class="contenido">

            </div>
        </div>
    </section>

</div>


<div class="superContenedor">
    <section class="contenedor marginGridMobile">
        <div class="contenido">

            <app-itemsconimagenes></app-itemsconimagenes>
            <app-itemparrafo></app-itemparrafo>

        </div>
    </section>
</div>
<app-tipsventas></app-tipsventas>
<app-contacto></app-contacto>

<div class="superContenedor">
    <section class="contenedor marginGridMobile">
        <div class="contenido">

            <div class="botones">
                <a class="viewMobile marginDiezBottom" [routerLink]="['/home']"><button
                        class="secundario">Volver</button></a>
            </div>

        </div>
    </section>
</div>
<app-footer></app-footer>