@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.navbarSeccion {
  background-color: $grisTenue;
  .contenido {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px 25px;
    padding: 0;
    @include Asmall() {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .logoUno {
    background-image: url($logoCliente);
    min-height: 80px;
  }

  .logoDos {
    background-image: url($logoSantander);
    min-height: 80px;
  }

  .appMenu {
    grid-column: 3/6;
    justify-self: center;
    align-self: center;
    @include Asmall() {
      display: none;
    }
  }
}
